.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253, 253, 253);
  padding-bottom: 10px;
}

.Toolbar-Text{
  text-decoration: none;
  color: beige;
}

#horizontal {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rectangle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: black;
}


.App-link {
  color: #09d3ac;
  margin-left: auto;
  margin-right: auto;
}
